body {
    font-family: "Inter", sans-serif;
}
.content {
    width: 1200px;
    margin: auto;
    padding-top: 102px;

}
.posts-content {
    display: flex;
    flex-direction: row;
    gap: 100px
}
.subtitle {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 40px;
}
.title-input {
    width: 500px;
    height: 60px;
    padding: 11px 0px 10px 20px;
    display: block;
    margin-bottom: 30px;
    font-size: 32px;
    color: #979797;
    border: 1px solid black;
}
.text-input {
    width: 500px;
    height: 250px;
    margin-bottom: 30px;
    padding: 11px 0px 10px 20px;
    font-size: 32px;
    color: #979797;
    border: 1px solid black;
}
.new-post-btn {
    width: 500px;
    height: 60px;
    background-color: #0094ff;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
}
.title__posts {
    font-size: 32px;
    color: #979797;
}
.post__title {
    font-weight: 700;
    font-size: 32px;
    color: #979797;
    margin-bottom: 25px;
}
.post__text {
    font-size: 25px;
    color: #000000;
}
.validation {
    margin-top: 20px;
    color: red;
}
.validationMessege_hidden {
    display: none;
}