body {
    font-family: "Inter", sans-serif;
}
.content {
    width: 1200px;
    margin: auto;
    padding-top: 102px;

}
.posts-content {
    display: flex;
    flex-direction: row;
    gap: 100px
}
.subtitle {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 40px;
}
.title-input {
    width: 500px;
    height: 60px;
    padding: 11px 0px 10px 20px;
    margin-bottom: 30px;
    font-size: 32px;
    color: #979797;
    border: 1px solid black;
}
.text-input {
    width: 500px;
    height: 250px;
    margin-bottom: 30px;
    padding: 11px 0px 10px 20px;
    font-size: 32px;
    color: #979797;
    border: 1px solid black;
}
.new-post-btn {
    width: 500px;
    height: 60px;
    background-color: #0094ff;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
}
.post__title {
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    margin-bottom: 25px;
}
.post__text {
    font-size: 25px;
    color: #000000;
}
.validation {
    margin-top: 20px;
    color: red;
}
.validationMessege_hidden {
    display: none;
}
/* адаптив */
@media (max-width: 1199px) {
    .content {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 767px) {
    .posts-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 60px;
    }
    .subtitle {
        margin-bottom: 45px;
        font-size: 36px;
    }
    .title-input {
        width: 100%;
        margin-bottom: 25px;
        font-size: 28px;
    }
    .text-input {
        width: 100%;
        margin-bottom: 25px;
        font-size: 28px;
    }
    .new-post-btn {
        width: 100%;
        font-size: 26px;
    }
    .post__title {
        font-size: 28px;
    }
    .post__text {
        font-size: 28px;
    }
}
@media (max-width: 319px) {
    .content {
        padding-top: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .posts-content {
        gap: 40px;
    }
    .subtitle {
        font-size: 32px;
        margin-bottom: 30px;
    }
    .title-input {
        margin-bottom: 18px;
        padding: 8px 0px 8px 15px;
        font-size: 24px;
    }
    .text-input {
        margin-bottom: 18px;
        font-size: 24px;
    }
    .new-post-btn {
        font-size: 22px;
    }
    .post__title {
        margin-bottom: 18px;
    }
    .post__title, 
    .post__text {
        font-size: 24px;
    }
}